extends ./layout/_layout-page.pug

block content

  section
    .container
      .section-banner-careers
        .text
          h4 We are hiring! Join our team and work on cutting edge projects
          p If you are looking for an opportunity to challenge yourself and grow, then we could just be the company you’re looking for.
        //- text
      //- section-banner-careers
    //- container
  //- section
  
  section
    .section-positions
      .container
        .row
          .col-md-8.col-md-offset-2
            .text-center
              h4 Open positions
            //- text-center
          //- col
        //- row
        br
        br
        .positions
          .job
            .title Senior Java Developer
            .status full-time
            .action
              a.btn.btn-default.btn-action.btn-xs(href='') Apply Now
            //- action
          //- job
          .job
            .title Junior Quality Assurance Specialist
            .status full-time
            .action
              a.btn.btn-default.btn-action.btn-xs(href='') Apply Now
            //- action
          //- job
          .job
            .title Front-end Developer
            .status full-time
            .action
              a.btn.btn-default.btn-action.btn-xs(href='') Apply Now
            //- action
          //- job
          .job
            .title Quality Assurance Specialist
            .status full-time
            .action
              a.btn.btn-default.btn-action.btn-xs(href='') Apply Now
            //- action
          //- job
        //- positions
      //- container
    //- section-positions
  //- section
  
  section
    .section-values
      .container
        .row
          .col-md-8.col-md-offset-2
            .text-center
              h4 twistresources values
              p The actual company values, as opposed to the nice-sounding values, are shown by who gets rewarded, promoted, or let go. Actual company values are the behaviors and skills that are valued in fellow employees.
            //- text-center
          //- col
        //- row
        
        .values
          .row
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Judgment
                  p You make wise decisions (people, technical, business, and creative) despite ambiguity. You identify root causes, and get beyond treating symptoms.
                //- info
              //- box
            //- col
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Communication
                  p You listen well, instead of reacting fast, so you can better understand. You are concise and articulate in speech and writing. You maintain calm poise in stressful situations.
                //- info
              //- box
            //- col
          //- row
          .row
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Impact
                  p You accomplish amazing amounts of important work. You demonstrate consistently strong performance so colleagues can rely upon you.
                //- info
              //- box
            //- col
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Curiosity
                  p You learn rapidly and eagerly. You seek to understand our strategy, market, customers, and suppliers. You contribute effectively outside of your specialty.
                //- info
              //- box
            //- col
          //- row
          .row
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Innovation
                  p You re-conceptualize issues to discover practical solutions to hard problems. You challenge prevailing assumptions when warranted, and suggest better approaches.
                //- info
              //- box
            //- col
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Courage
                  p You say what you think even if it is controversial. You make tough decisions without agonizing. You question actions inconsistent with our values.
                //- info
              //- box
            //- col
          //- row
          .row
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Passion
                  p You inspire others with your thirst for excellence. You care intensely about TWIST’s success. You celebrate wins. You are tenacious.
                //- info
              //- box
            //- col
            .col-md-6
              .box
                .icon
                  img(src='//unsplash.it/g/50?random')
                //- icon
                .info
                  .title Honesty
                  p You are known for candor and directness. You are non-political when you disagree with others. You are quick to admit mistakes.
                //- info
              //- box
            //- col
          //- row
        //- values
      //- container
    //- section-values
  //- section
  
  section
    .section-benefits
      .container
        .row
          .col-md-4
            strong
              big With great benefits!
            //- strong
            br
            br
            p We in twistresources make sure that our team is given a balanced
          //- col
          .col-md-4
            ul
              li
                strong Salary&nbsp;
                | Above market Compensation
              //- li
              li
                strong Healthy Meals&nbsp;
                | Daily free meals and snacks
              //- li
              li
                strong Insurance&nbsp;
                | Health &amp; Dental Benefits
              //- li
              li
                strong Office&nbsp;
                | Modern facilities and State of the art machines
              //- li
            //- ul
          //- col
          .col-md-4
            ul
              li
                strong Health&nbsp;
                | Medicine Allowanace and Maternity Coverage
              //- li
              li
                strong Travel&nbsp;
                | Annual ALL expense paid company leisure trip
              //- li
              li
                strong Trainings&nbsp;
                | Free Educational trainings and certification
              //- li
              li
                strong Sports&nbsp;
                | Free weekly activity (basketball or badminton)
              //- li
            //- ul
          //- col
        //- row
        .row.illustrations
          .col-md-4.col-sm-4
            img(src='//unsplash.it/g/150/100?random')
          //- col
          .col-md-4.col-sm-4
            img(src='//unsplash.it/g/150/100?random')
          //- col
          .col-md-4.col-sm-4
            img(src='//unsplash.it/g/150/100?random')
          //- col
        //- row
      //- container
      br
      br
      br
    //- section-benefits
  //- section
  
  section.join
    .container
      | If you are looking for an opportunity to challenge yourself and grow, then we could just be the company you are looking for.&nbsp;
      a.btn.btn-default.btn-action(href='') Join Us Now
    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      
    });
