extends ./layout/_layout-page.pug

block content

  section
    .container
      .section-banner-expertise
        .text
          h4 Our expertise
          p We are a team of developers and designers commited to our craft. Our job is helping you make your business better with outstanding engineering &amp; design on web and mobile platforms.
        //- text
      //- section-banner-expertise
    //- container
  //- section
  
  section
    .section-expertise
      .container
        .row
          .col-md-6
            a(href='exp-web-dev.html')
              .box
                .icon
                  img.img-circle(src='//unsplash.it/g/70?random', width='50', height='50')
                //- icon
                strong
                  big Web Application Development
                //- strong
                p From creating to maintaining your software--twistresources offers full-cycle software develpment.
                p Our qualified consultants can analyze your business and suggest ways in which software can improve your business. Our developers can build the perfect solution for your business and your clients. Our marketing team can help you launch the product into the masses.
              //- box
            //- a
          //- col
          .col-md-6
            a(href='')
              .box
                .icon
                  img.img-circle(src='//unsplash.it/g/70?random', width='50', height='50')
                //- icon
                strong
                  big Mobile Application Development
                //- strong
                p Whether you're a startup founder selling a digital service, or an established enterprise struggling to increase efficiency, mobile app development deserves discussion as a strategic priority. Mobile is becoming the preferred method of discovering, consuming, and sharing information, and only an exceptional user experience will put your business in a position to profit.
              //- box
            //- a
          //- col
        //- row
        .row
          .col-md-6
            a(href='')
              .box
                .icon
                  img.img-circle(src='//unsplash.it/g/70?random', width='50', height='50')
                //- icon
                strong
                  big Custom Software Development
                //- strong
                p From creating to maintaining your software--twistresources offers full-cycle software develpment.
                p Our qualified consultants can analyze your business and suggest ways in which software can improve your business. Our developers can build the perfect solution for your business and your clients. Our marketing team can help you launch the product into the masses.
              //- box
            //- a
          //- col
          .col-md-6
            a(href='')
              .box
                .icon
                  img.img-circle(src='//unsplash.it/g/70?random', width='50', height='50')
                //- icon
                strong
                  big e-Commerce Solution
                //- strong
                p Our qualified consultants can analyze your business and suggest ways in which software can improve your business.
                p Our developers can build the perfect solution for your business and your clients. Our marketing team can help you launch the product into the masses.
              //- box
            //- a
          //- col
        //- row
      //- container
    //- section-expertise
  //- section
  
  section
    .section-process
      .container
        .row
          .col-md-8.col-md-offset-2
            .text-center
              h4 Our process
              p With our extensive experience in managing development of web, mobile and mission critical application around the world, we are well suited to delivering your application on time and within budget.
            //- text-center
          //- col
        //- row
        br
        br
        .process
          .box
            .bullet
            .title Discover
            p Our team of business analysts and consultants can determine growth opportunities.
          //- box
          .box
            .bullet
            .title Design
            p Our designers bring you a proposal based on our analysis and your demands.
          //- box
          .box
            .bullet
            .title Develop
            p Our developers create and test your web or mobile application.
          //- box
          .box
            .bullet
            .title Maintain
            p Helps you maintain, update, and improve your application as your business grows.
          //- box
        //- process
      //- container
    //- section-process
  //- section
  
  section.contact
    .section-contact
      .container
        .row
          .col-md-6.col-md-offset-3
            .card
              .text-center
                h4 twistresources
                p With our extensive experience in managing development of web, mobile and mission critical application around the world, we are well suited to delivering your application on time and within budget.
                br
                a.btn.btn-default.btn-action(href='') Contact Us
              //- text-center
            //- card
          //- col
        //- row
      //- container
    //- section-contact
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      //- 
    });
