extends ./layout/_layout-page.pug

block content

  section
    .container
      .section-banner-home
        //- img(src='//unsplash.it/1024/300?random')
        .text
          h4 Quietly doing the hard stuff
          p We at TwistResources specialise in high-performance sites and applications optimised for web and mobile.
          a.btn.btn-default.btn-action(href='') Get Started
        //- text
      //- section-banner-home
    //- container
  //- section
  
  section
    .container
      .section-expertise-home
        .text-center
          h4 Our Expertise
          .row
            .col-md-4.col-md-offset-4
              p Your dedicated project team will deliver you a quality app for its early stages to a successful product.
            //- col
          //- row
        //- text-center
        .row.tiles
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Web Application
                  br
                  | Development
                //- strong
                small Power your business
              //- title
            //- wrap
          //- box
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Mobile Application
                  br
                  | Development
                //- strong
                small High-performance applications
              //- title
            //- wrap
          //- box
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Custom Software
                  br
                  | Development
                //- strong
                small App tailored to your business
              //- title
            //- wrap
          //- box
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | E-commerce mobile &amp;
                  br
                  | Web Solutions
                //- strong
                small High volume e-commerce sites
              //- title
            //- wrap
          //- box
        //- tiles
      //- section-expertise
    //- container
  //- section
  
  section
    .container
      .section-credibility
        .row
          .col-md-5
            .text
              h4 Our Credibility
              br
              p A company's reputation is built on how well its customers respond to its services.
              p Our credibility as a company is always reinforced by our ability to deliver what we promise.
              br
              a.btn.btn-default.btn-action(href='') All Clients
            //- text
          //- col
          .col-md-7.rotating-banner
            .owl-carousel.owl-theme
              .testimonial
                img(src='//unsplash.it/g/70?random', width='100')
                p
                  i "We inherited unmaintainable legacy code and the TwistResources team dove staight in and helped us transition seamlessly to a new and vastly superior system."
                //- p
                span.text-muted
                  i Steve Jobs, Apple CEO
              //- testimonial
              .testimonial
                img(src='//unsplash.it/g/70?random', width='100')
                p
                  i "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                //- p
                span.text-muted
                  i Rodan Luzuriaga, Excavator
              //- testimonial
            //- owl-carousel
          //- col
        //- row
        .row.companies
          .col-md-2.col-sm-4.col-xs-6
            .box
              img(src='//unsplash.it/g/70?random', width='60')
            //- box
          //- col
          .col-md-2.col-sm-4.col-xs-6
            .box
              img(src='//unsplash.it/g/70?random', width='60')
            //- box
          //- col
          .col-md-2.col-sm-4.col-xs-6
            .box
              img(src='//unsplash.it/g/70?random', width='60')
            //- box
          //- col
          .col-md-2.col-sm-4.col-xs-6
            .box
              img(src='//unsplash.it/g/70?random', width='60')
            //- box
          //- col
          .col-md-2.col-sm-4.col-xs-6
            .box
              img(src='//unsplash.it/g/70?random', width='60')
            //- box
          //- col
          .col-md-2.col-sm-4.col-xs-6
            .box
              img(src='//unsplash.it/g/70?random', width='60')
            //- box
          //- col
        //- row
      //- section-credibility
    //- container
  //- section
  
  section
    .container
      .section-resources
        .text-center
          h4 Our Resources
          .row
            .col-md-4.col-md-offset-4
              p Our Team leverages their time, productivity and skills by undergoing the most rigorous process of testing and optimisation.
            //- col
          //- row
        //- text-center
        br
        br
        .row.block
          .col-md-6
            .plate
              .icon
                img(src='//unsplash.it/g/70?random', width='100')
              //- icon
              .text
                p
                  strong Quality
                //- p
                p We combine seasoned professionals to work with the brightest newcomers with quality and performance.
              //- text
            //- plate
            .plate
              .icon
                img(src='//unsplash.it/g/70?random', width='100')
              //- icon
              .text
                p
                  strong Methodology
                //- p
                p Our core expertise is agile software product development and re-engineering focused on scalability and performance.
              //- text
            //- plate
            .plate
              .icon
                img(src='//unsplash.it/g/70?random', width='100')
              //- icon
              .text
                p
                  strong Innovation
                //- p
                p With 7 approved patents for web development technology, our team leads the industry in high performance dev.
              //- text
            //- plate
          //- col
          .col-md-6.box
            .graphic
          //- col
        //- row
      //- section-expertise
    //- container
  //- section
  
  section
    .container
      .section-news
        .text-center
          h4 Our latest news
          .row
            .col-md-4.col-md-offset-4
              p Your dedicated project team will deliver you a quality app for its early stages to a successful product.
            //- col
          //- row
        //- text-center
        .row.tiles
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Mcommerce Technologies in
                  br
                  | the Most Profitable Industries
                //- strong
                p
                  small The latest technologies are shaping these three lucrative industries and help them to become more...
                //- p
                small
                  i March 6, 2017
                //- small
              //- title
            //- wrap
          //- box
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Agile Software Development
                  br
                  | Insights from TR(Part 2)
                //- strong
                p
                  small Second in theseries about Agile, this post explores the psychological obstacles to success.
                //- p
                small
                  i March 6, 2017
                //- small
              //- title
            //- wrap
          //- box
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Learning the User Experience
                  br
                  | Design Basics in TR
                //- strong
                p
                  small A look at big and small trends in user experience that will influence product design in 2017
                //- p
                small
                  i February 26, 2017
                //- small
              //- title
            //- wrap
          //- box
          .box.col-md-3.col-sm-6
            .wrap
              .image 
              .title
                strong
                  | Two Cornerstone Features
                  br
                  | of Top Retail Apps
                //- strong
                p
                  small Most benefits of mobile retail apps are connected to crafting a tailored customer experience for you...
                //- p
                small
                  i February 15, 2017
                //- small
              //- title
            //- wrap
          //- box
        //- tiles
        .see-all
          a(href='') All Posts
        //- see-all
      //- section-expertise
    //- container
  //- section
  
  section.join
    .container
      | If you are looking for an opportunity to challenge yourself and grow, then we could just be the company you are looking for.&nbsp;
      a.btn.btn-default.btn-action(href='') Join Us Now
    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        margin: 15,
        dots: false,
        nav: true,
        navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
        responsiveClass: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            nav: true,
            items: 1
          },
          1000: {
            items: 1
          }
        }
      });
    });
