extends ./layout/_layout-page.pug

block content

  section
    .container
      .section-banner-products
        .text
          h4 Products
          p We provide both enterprises and SMBs with full-cycle development of software that will provide tremendous opportunity for growth, workflow streamlining, and scalability. Our team of business, development, and marketing experts works closely with the business, every step of the way. This ensures that the end result meets and exceeds the demands and expectations set by the client.
        //- text
      //- section-banner-expertise
    //- container
  //- section
  
  section
    .section-products
      .container
        .row
          .box
            .col-md-5
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
            //- col
            .col-md-7
              .copy
                .visible-xs.visible-sm
                  br
                strong
                  big tooltwist designer
                //- strong
                br
                br
                p ToolTwist is a web/mobile development platform designed to scale and make optimal use of people, equipment and capital. It allows marketing people to design and build sophisticated websites while still allowing technical guys to do their magic behind- the-scenes.
              //- copy
            //- col
          //- box
        //- row
        .row
          .box
            .col-md-5
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
            //- col
            .col-md-7
              .copy
                .visible-xs.visible-sm
                  br
                strong
                  big Crowdhound
                //- strong
                br
                br
                p Want to have collaboration on your website? Check out the following features that ToolTwist Forum can offer! A plugin created by Tooltwist that can be embedded to your websites that provides collaboration features for your users.
              //- copy
            //- col
          //- box
        //- row
        .row
          .box
            .col-md-5
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
            //- col
            .col-md-7
              .copy
                .visible-xs.visible-sm
                  br
                strong
                  big Cloudmall
                //- strong
                br
                br
                p ToolTwist CloudMall is an eCommerce system built from the ground up with a micro- services architecture. It is constructed from dozens of individual pieces that can be pulled apart, and put back together in different configurations.
              //- copy
            //- col
          //- box
        //- row
        .row
          .box
            .col-md-5
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
            //- col
            .col-md-7
              .copy
                .visible-xs.visible-sm
                  br
                strong
                  big USeMe.tv
                //- strong
                br
                br
                p UseMe.tv is a cloud based service that allows any HTML-based retail display to be converted into an interactive retail display. A shopper simply points their mobile phone at a QR code, and it becomes a simple remote control for the display.
              //- copy
            //- col
          //- box
        //- row
      //- container
    //- section-expertise
  //- section
  
  section.contact
    .section-contact
      .container
        .row
          .col-md-6.col-md-offset-3
            .card
              .text-center
                h4 twistresources
                p Many of your company’s ambitious goals demand custom software solutions. twistresources built a company expressly for the purposeof satisfying your application development needs.
                br
                a.btn.btn-default.btn-action(href='') Contact Us
              //- text-center
            //- card
          //- col
        //- row
      //- container
    //- section-contact
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      //- 
    });
