extends ./layout/_layout-page.pug

block content

  section
    .container
      .section-banner-projects
        .text
          h4 Our latest projects
          p We provide both enterprises and SMBs with full-cycle development of software that will provide tremendous opportunity for growth, workflow streamlining, and scalability. Our team of business, development, and marketing experts works closely with the business, every step of the way. This ensures that the end result meets and exceeds the demands and expectations set by the client.
        //- text
      //- section-banner-expertise
      .projects
        .row
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name Property Value
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services PROPERTY, BACK-END, FRONT-END, UI DESIGN
              //- info
            //- box
          //- col
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name Nutra Organics
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services E-COMMERCE, BACK-END, FRONT-END
              //- info
            //- box
          //- col
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name Global Study Lane
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services EDUCATION, BACK-END, FRONT-END, UI &amp; UX DESIGN
              //- info
            //- box
          //- col
        //- row
        .row
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name mHealthPharma
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services HEALTH, BACK-END, FRONT-END, UI &amp; UX DESIGN
              //- info
            //- box
          //- col
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name Fitmycar
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services E-COMMERCE, BACK-END, FRONT-END
              //- info
            //- box
          //- col
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name FormsExpress
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services HR, BACK-END, FRONT-END
              //- info
            //- box
          //- col
        //- row
        .row
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name QV
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services PROPERTY, BACK-END, FRONT-END
              //- info
            //- box
          //- col
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name Tafe
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services EDUCATION, BACK-END, FRONT-END
              //- info
            //- box
          //- col
          .col-md-4.col-sm-4
            .box
              a.open-in(href='')
                i.fa.fa-external-link
              //- a
              .image
                img(src='//unsplash.it/g/200/100?random')
              //- image
              .info
                .name British Council
                p The latest technologies are shaping these three lucrative industries to become digital.
                hr
                .services EDUCATION, BACK-END, FRONT-END, UI &amp; UX DESIGN
              //- info
            //- box
          //- col
        //- row
      //- expertise
    //- container
  //- section
  
  section
    .section-all-clients
      .container
        .row
          .col-md-8.col-md-offset-2
            .text-center
              h4 All clients
              p We always reinforced by our ability to deliver what we promise.
            //- text-center
          //- col
        //- row
        br
        .carousel-all-clients
          .rotating-banner
            .owl-carousel.owl-theme
              .box
                .row
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                //- row
              //- box
              .box
                .row
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                  .col-md-2.col-sm-3.col-xs-4
                    .logo
                      img(src='//unsplash.it/g/50?random')
                    //- logo
                  //- col-md-2
                //- row
              //- box
            //- owl-carousel
          //- rotating-banner
        //- carousel-all-clients
      //- container
    //- section-all-clients
  //- section
  
  section.contact
    .section-contact
      .container
        .row
          .col-md-6.col-md-offset-3
            .card
              .text-center
                h4 twistresources
                p Many of your company’s ambitious goals demand custom software solutions. twistresources built a company expressly for the purposeof satisfying your application development needs.
                br
                a.btn.btn-default.btn-action(href='') Contact Us
              //- text-center
            //- card
          //- col
        //- row
      //- container
    //- section-contact
  //- section

block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {
      $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        dots: true,
        nav: true,
        navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
        responsiveClass: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            nav: true,
            items: 1
          },
          1000: {
            nav: true,
            items: 1
          }
        }
      });
    });
