footer
  .container
    .row
      .col-md-2.col-sm-4
        p.footer-title
          strong Company
        //- p
        a(href='about.html') About Us
        a(href='expertise.html') Expertise
        a(href='products.html') Products
        a(href='projects.html') Projects
        a(href='news.html') News
        a(href='careers.html') Careers
      //- col
      .col-md-3.col-sm-4
        p.footer-title
          strong Visit Us
        //- p
        span.static TwistResources, Inc.
        span.static &nbsp;
        span.static
          | Office Center No. 07A, B &amp; K
          br
          | Berthaphil III Clark Center,
          br
          | Jose Abad Santos Avenue,
          br
          | Clark Freeport Zone,
          br
          | Pampanga, Philippines 2023
      //- col
      .col-md-2.col-sm-4
        p.footer-title
          strong Contact Us
        //- p
        span.static +63 45 4991161
        span.static +63 45 4991161
        span.static business@tooltwist.com
        span.static &nbsp;
        p.footer-title
          strong Follow Us
        //- p
        span.social
          a(href='')
            i.fa.fa-facebook
          //- a
          a(href='')
            i.fa.fa-twitter
          //- a
          a(href='')
            i.fa.fa-instagram
          //- a
          a(href='')
            i.fa.fa-linkedin
          //- a
        //- span
      //- col
      .col-md-5.col-sm-12
        .footer-right
          img(src='assets/images/footer_logo.png')
        //- footer-right
      //- col
    //- row
  //- container
//- footer
br
br
